





.fl-node-618b5210901f6 .fl-row-content {
	max-width: 1260px;
}
 .fl-node-618b5210901f6 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}




.fl-node-618b52109515c {
	width: 25%;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-618b52109515c {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-618b52109515f {
	width: 45%;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-618b52109515f {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-618b5351057d3 {
	width: 22%;
}
.fl-node-618b5351057d3 > .fl-col-content {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #CECCCC;
	border-left-width: 1px;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-618b5351057d3 {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-618b521095161 {
	width: 8%;
}
.fl-node-618b523eb4d80 {
	width: 100%;
}

.fl-node-618b523eb4d80 .uabb-photo-content {

	}

.fl-node-618b523eb4d80 .uabb-photo-content img {

			}
.fl-node-618b523eb4d80 .uabb-photo-caption { 
	}

.fl-node-618b523eb4d80 .uabb-photo-content .uabb-photo-img {
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

	.fl-node-618b523eb4d80 .uabb-photo-content .uabb-photo-img {
		opacity: 1;
	}
	.fl-node-618b523eb4d80 .uabb-photo-content .uabb-photo-img:hover {
		opacity: 1; 
	}


@media ( max-width: 768px ) {
	.fl-node-618b523eb4d80 .uabb-photo-mob-align-center {
		text-align: center;
	}
}
@media ( max-width: 768px ) {
 .fl-node-618b523eb4d80.fl-module > .fl-module-content {
	margin-bottom:0px;
}
}
/* UABB Advanced Menu */

.uabb-creative-menu ul,
.uabb-creative-menu li {
	list-style: none !important;
	margin: 0;
	padding: 0;
}
.uabb-creative-menu .menu:before,
.uabb-creative-menu .menu:after {
	content: '';
	display: table;
	clear: both;
}

/*  Horizontal Menu */

.uabb-creative-menu .menu {
	position: relative;
	padding-left: 0;
}
.uabb-creative-menu li {
	position: relative;
}
.uabb-creative-menu a {
	display: block;
	line-height: 1;
	text-decoration: none;
}
.uabb-creative-menu .menu a {
    box-shadow: none;
}
.uabb-creative-menu a:hover {
	text-decoration: none;
}
.uabb-creative-menu .sub-menu {
	min-width: 220px;
    margin: 0;
}
.uabb-creative-menu-horizontal {
    font-size: 0;
}
.uabb-creative-menu-horizontal li,
.uabb-creative-menu-horizontal > li {
    font-size: medium;
}
.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container > a > span.menu-item-text {
    display: inline-block;
}

/* Expanded Menu */

.fl-module[data-node] .uabb-creative-menu .uabb-creative-menu-expanded .sub-menu {
	background-color: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

/* Submenus */

.uabb-creative-menu .uabb-has-submenu:focus,
.uabb-creative-menu .uabb-has-submenu .sub-menu:focus,
.uabb-creative-menu .uabb-has-submenu-container:focus {
	outline: 0;
}
.uabb-creative-menu .uabb-has-submenu-container {
	position: relative;
}

/* Submenu - accordion, expanded */

.uabb-creative-menu .uabb-creative-menu-accordion .uabb-has-submenu > .sub-menu {
	display: none;
}

/* Toggle - General */

.uabb-creative-menu .uabb-menu-toggle {
	cursor: pointer;
}

.uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
	border-color: #333;
}
.uabb-creative-menu .uabb-menu-expanded .uabb-menu-toggle {
	display: none;
}

/* Mega menu for horizontal menus */
ul.uabb-creative-menu-horizontal li.mega-menu {
	position: static;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu {
	top: inherit !important;
	left: 0 !important;
	right: 0 !important;
	width: 100%;
}
ul.uabb-creative-menu-horizontal li.mega-menu.uabb-has-submenu:hover > ul.sub-menu,
ul.uabb-creative-menu-horizontal li.mega-menu.uabb-has-submenu.focus > ul.sub-menu {
	display: flex !important;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu li {
	border-color: transparent;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu > li {
	width: 100%;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu > li > .uabb-has-submenu-container a {
	font-weight: bold;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu > li > .uabb-has-submenu-container a:hover {
	background: transparent;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu .uabb-menu-toggle {
	display: none;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu ul.sub-menu {
	background: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	display: block;
	min-width: 0;
	opacity: 1;
	padding: 0;
	position: static;
	visibility: visible;
}

/* Mobile menu - Hamburger icon */

.uabb-creative-menu-mobile-toggle {
	position: relative;
	padding: 8px;
	background-color: transparent;
	border: none;
	color: #333;
	border-radius: 0;
	cursor: pointer;
    display: inline-block;
    z-index: 5;
}
.uabb-creative-menu-mobile-toggle.text {
	width: auto;
	text-align: center;
}
.uabb-creative-menu-mobile-toggle.hamburger .uabb-creative-menu-mobile-toggle-label,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-creative-menu-mobile-toggle-label {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .uabb-svg-container,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-svg-container {
	display: inline-block;
	position: relative;
	width: 1.4em;
	height: 1.4em;
	vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu rect,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
	fill: currentColor;
}
.uabb-creative-menu.off-canvas .uabb-off-canvas-menu .uabb-menu-close-btn {
	width: 20px;
	height: 10px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	display: block;
    z-index: 99;
}
.uabb-creative-menu-mobile-toggle:focus{
	outline: thin dotted;
}

/* Overlay */

.uabb-creative-menu .uabb-menu-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
    overflow-y: auto;
    overflow-x: hidden;
}

.uabb-creative-menu .uabb-menu-overlay > ul.menu {
	text-align: center;
    position: relative;
    top: 50%;
	width: 40%;
    height: 60%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-fade {
	opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-fade {
	opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.uabb-creative-menu .uabb-overlay-slide-down {
	visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.uabb-creative-menu.menu-open .uabb-overlay-slide-down {
	visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.uabb-creative-menu .uabb-overlay-scale {
	visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.uabb-creative-menu.menu-open .uabb-overlay-scale {
	visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.uabb-creative-menu .uabb-overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door {
	visibility: visible;
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.uabb-creative-menu .uabb-overlay-door > ul.menu {
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-door > ul,
.uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door > ul,
.uabb-creative-menu.menu-open .uabb-overlay-door .uabb-menu-close-btn {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.uabb-creative-menu.menu-close .uabb-overlay-door > ul,
.uabb-creative-menu.menu-close .uabb-overlay-door .uabb-menu-close-btn {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-toggle-arrows .uabb-has-submenu-container a > span {
	padding-right: 0 !important;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
	position: absolute;
    display: block;
	width: 55px;
    height: 45px;
	right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    outline: none;
    z-index: 100;
	font-size: 30px;
	cursor: pointer;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:before,
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
	content: '';
	position: absolute;
	left: 50%;
    width: 2px;
    height: 40px;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
	-webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

/* Off Canvas */

.uabb-creative-menu .uabb-off-canvas-menu .menu {
	margin-top: 40px;
}

.uabb-creative-menu.off-canvas .uabb-clear {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background: rgba(0,0,0,0.0);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d(320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu {
    z-index: 99999;
    width: 300px;
    height: 100%;
    background: rgb(55, 58, 71);
    padding: 60px 20px;
    -webkit-transition: all 0.8s;
    transition: transform 0.8s ease;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    perspective: 1000;
    backface-visibility: hidden;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}
.uabb-creative-menu.off-canvas.menu-open .uabb-clear {
	visibility: visible;
	opacity: 1;
}

@media ( max-width: 992px ) {
	.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
		right: 20px;
	    top: 20px;
	}
}

/* Compatibility CSS - start */
.theme-twentytwentyone .uabb-creative-menu button.sub-menu-toggle {
	display: none;
}
/* Compatibility CSS - end */

/* Menu alignment */

.fl-node-618b529834603 .uabb-creative-menu .menu {
	text-align: right;
}

	.uabb-creative-menu-expanded ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a {
		text-indent: 20px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a {
		text-indent: 30px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li .uabb-has-submenu-container a {
		text-indent: 40px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li li .uabb-has-submenu-container a {
		text-indent: 50px;
		direction: rtl;
	}




		.fl-node-618b529834603 .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > a span.uabb-menu-toggle,
		.fl-node-618b529834603 .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container a span.uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
		.fl-node-618b529834603 .uabb-creative-menu .menu.uabb-creative-menu-horizontal .uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
	
	
	

/**
* Overall menu styling
*/

.fl-node-618b529834603 .uabb-creative-menu .menu > li {

	margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;}

.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.text:hover .uabb-creative-menu-mobile-toggle-label,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger-label:hover .uabb-svg-container .uabb-creative-menu-mobile-toggle-label,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger:hover .uabb-svg-container {
	}
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.text,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger-label,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger {
	}
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.text:hover,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger-label:hover,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger:hover {
	}


			.fl-node-618b529834603 .menu .uabb-has-submenu .sub-menu {
			display: none;
		}
	
	.fl-node-618b529834603 .uabb-creative-menu li:first-child {
		border-top: none;
	}

	
	
	
	
			@media only screen and ( min-width: 769px ) {

							.fl-node-618b529834603 .menu > li {
				display: inline-block;
			}

			.fl-node-618b529834603 .menu li {
				border-left: none;
				border-top: none;
			}
			.fl-node-618b529834603 .menu li li {
				border-top: none;
				border-left: none;
			}

			.fl-node-618b529834603 .menu .uabb-has-submenu .sub-menu {
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 16;
				visibility: hidden;
				opacity: 0;
				text-align:left;
				transition: all 300ms ease-in;
			}

			.fl-node-618b529834603 .uabb-has-submenu .uabb-has-submenu .sub-menu {
				top:  0;
				left: 100%;
			}

					
				
			.fl-node-618b529834603 .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,
			.fl-node-618b529834603 .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {
				visibility: visible;
				opacity: 1;
				display: block;
			}

			.fl-node-618b529834603 .uabb-creative-menu .uabb-has-submenu:focus-within > .sub-menu {
				visibility: visible;
				opacity: 1;
				display: block;
			}

			.fl-node-618b529834603 .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 100%;
				left: inherit;
				right: 0;
			}

			.fl-node-618b529834603 .menu .uabb-has-submenu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 0;
				left: inherit;
				right: 100%;
			}

							.fl-node-618b529834603 .uabb-creative-menu .uabb-has-submenu-container a span.menu-item-text {
					color: #8e9d3a;
				}
				.fl-node-618b529834603 .uabb-creative-menu .uabb-menu-toggle {
					display: none;
				}
			
			
			
				}

		.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > a,
.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
	padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;}

.fl-node-618b529834603 .uabb-creative-menu .menu > li > a,
.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
			transition: background-color 300ms ease;
		background-color:rgba(255,0,0,0);
	}

.fl-node-618b529834603 .uabb-creative-menu .menu > li > a,
.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {

	}

.fl-node-618b529834603 .fl-module-content .uabb-creative-menu .menu > li > a span.menu-item-text,
.fl-node-618b529834603 .fl-module-content .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a span.menu-item-text {
	width: 100%;
			color:#8e9d3a;
	}


				.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
			color: #8e9d3a;
		}
		

				.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows li:hover .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-item .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-ancestor .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none li:hover .uabb-menu-toggle:before {
			color: #323232;
		}
			
	.fl-node-618b529834603 .uabb-creative-menu .menu > li > a:hover,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li > a:focus,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li:hover > .uabb-has-submenu-container > a,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li:focus > .uabb-has-submenu-container > a,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-item > a,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-item > a,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-item > .uabb-has-submenu-container > a {
					background-color: rgba(255,0,0,0);
				}

	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > a,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a {
					background-color: #f5f5f5;
			}

	.fl-node-618b529834603 .uabb-creative-menu .menu > li > a:hover span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li > a:focus span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li:hover > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li:focus > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-item > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.focus > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.focus > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text > i {
		color:#323232;	}

	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > a span.menu-item-text > i,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text > i,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a span.menu-item-text > i,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text > i {
			}

			.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container:hover > .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container.focus > .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows li.current-menu-item >.uabb-has-submenu-container > .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container:hover > .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container.focus > .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none li.current-menu-item >.uabb-has-submenu-container > .uabb-menu-toggle:before {
			color: #323232;
		}
		

/* Sub-menu */
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > a,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {
	padding-top: 15px;padding-bottom: 15px;padding-left: 15px;padding-right: 15px;
	background-color: #edecec;
}

.fl-node-618b529834603 .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {
	min-width: 220px;
}

.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.uabb-creative-menu > a > span,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a > span {
	color: #333333;
}

.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li {
			border-bottom-style: solid;
				border-bottom-width: 1px;
						border-bottom-color: #e3e2e3;
			}

.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li:last-child {
	border-bottom: none;
}
.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li:first-child,
.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li li:first-child {
	border-top: none;
}
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.uabb-active > .sub-menu > li:first-child,
.fl-node-618b529834603 .uabb-creative-menu .menu.uabb-creative-menu-expanded .sub-menu > li > .sub-menu > li:first-child {
			border-top-style: solid;
				border-top-width: 1px;
						border-top-color: #e3e2e3;
			}




.fl-node-618b529834603 .uabb-creative-menu .sub-menu {
			-webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		-moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		-o-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
	}


.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li:last-child > a,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li:last-child > .uabb-has-submenu-container > a {
	border: 0;
}

.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:hover span.menu-item-text,
.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:focus span.menu-item-text,
.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:hover span.menu-item-text,
.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:focus span.menu-item-text {
	color: #;
}

.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > a:hover,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > a:focus,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:hover,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:focus {
	background-color: #f5f5f5;
}


				.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .sub-menu li .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {
			color: #333333;
		}
		

/* Toggle button */


		@media only screen and ( max-width: 768px ) {
	
	.fl-node-618b529834603 .uabb-creative-menu .uabb-menu-overlay .menu {
		margin-top: 40px;
	}
	.fl-node-618b529834603 .uabb-creative-menu .menu {
		text-align: center;
	}

	
	
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.fl-node-618b529834603 .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	
				}
	
@media only screen and (max-width: 1024px) {

	.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle-container,
	.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: ;
	}
	.fl-node-618b529834603 .uabb-creative-menu .menu > li {
				}

	.fl-node-618b529834603 .uabb-creative-menu.off-canvas .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.fl-node-618b529834603 .uabb-creative-menu.full-screen .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.fl-builder .fl-node-618b529834603 .uabb-creative-menu .uabb-off-canvas-menu {
			}
	
	
	
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.fl-node-618b529834603 .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	
	}

@media only screen and (max-width: 768px) {

	.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle-container,
	.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: ;
	}
	.fl-node-618b529834603 .uabb-creative-menu .menu > li {
			}

	.fl-node-618b529834603 .uabb-creative-menu.off-canvas .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.fl-node-618b529834603 .uabb-creative-menu.full-screen .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.fl-builder .fl-node-618b529834603 .uabb-creative-menu .uabb-off-canvas-menu {
			}
		.fl-node-618b529834603 .uabb-creative-menu .menu {
		text-align: center;
	}

	
	
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				float: right;
			}
			.fl-node-618b529834603 .uabb-creative-menu .menu .uabb-menu-toggle {
				float: right;
			}

	
	}

@media only screen and (max-width: 1024px) {
	}

@media only screen and (max-width: 768px) {
	}

/***************************** Overlay *********************************/


/***************************** Accordion **********************************/
	@media only screen and ( max-width: 768px ) {
			}
	
/***************************** Off Canvas **********************************/
.fl-node-618b529834603 .uabb-creative-menu .menu > li > a,.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	font-family: Poppins, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3em;
	text-transform: uppercase;
}
.fl-node-618b529834603 .uabb-creative-menu .menu > li > a, .fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	border-style: none;
	border-width: 0;
	background-clip: border-box;
}
.fl-node-618b529834603 .uabb-creative-menu .uabb-creative-menu-vertical .sub-menu, .fl-node-618b529834603 .uabb-creative-menu .uabb-creative-menu-horizontal .sub-menu {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.fl-node-618b529834603 .uabb-creative-menu .uabb-creative-menu-expanded.menu > .uabb-has-submenu > .sub-menu, .fl-node-618b529834603 .uabb-creative-menu .uabb-creative-menu-accordion.menu > .uabb-has-submenu > .sub-menu {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
 .fl-node-618b529834603 > .fl-module-content {
	margin-top:0px;
	margin-bottom:0px;
}
.fl-builder-content .fl-rich-text strong {
	font-weight: bold;
}
 .fl-node-618b735ebefd3 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
.fl-builder-content .fl-node-618b555f3a73e .fl-rich-text, .fl-builder-content .fl-node-618b555f3a73e .fl-rich-text *:not(b, strong) {
	text-align: right;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-618b555f3a73e .fl-rich-text, .fl-builder-content .fl-node-618b555f3a73e .fl-rich-text *:not(b, strong) {
		text-align: center;
	}
}
@media ( max-width: 768px ) {
 .fl-node-618b555f3a73e.fl-module > .fl-module-content {
	margin-top: