/* Grid
------------------------------------------------------ */

.fl-builder-content *,
.fl-builder-content *:before,
.fl-builder-content *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fl-row:before,
.fl-row:after,
.fl-row-content:before,
.fl-row-content:after,
.fl-col-group:before,
.fl-col-group:after,
.fl-col:before,
.fl-col:after,
.fl-module:before,
.fl-module:after,
.fl-module-content:before,
.fl-module-content:after {
	display: table;
	content: " ";
}
.fl-row:after,
.fl-row-content:after,
.fl-col-group:after,
.fl-col:after,
.fl-module:after,
.fl-module-content:after {
	clear: both;
}
.fl-clear {
	clear: both;
}

/* Utilities
------------------------------------------------------ */

.fl-clearfix:before,
.fl-clearfix:after {
	display: table;
	content: " ";
}
.fl-clearfix:after {
	clear: both;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

/* Responsive Utilities
------------------------------------------------------ */

.fl-visible-large,
.fl-visible-large-medium,
.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: none;
}

/* Rows
------------------------------------------------------ */

.fl-row,
.fl-row-content {
	margin-left: auto;
	margin-right: auto;
	min-width: 0;
}
.fl-row-content-wrap {
	position: relative;
}

/* Photo Bg */
.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {
	background-attachment: scroll;
}

/* Video and Embed Code Bg */
.fl-row-bg-video,
.fl-row-bg-video .fl-row-content,
.fl-row-bg-embed,
.fl-row-bg-embed .fl-row-content {
	position: relative;
}

.fl-row-bg-video .fl-bg-video,
.fl-row-bg-embed .fl-bg-embed-code {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}

.fl-row-bg-video .fl-bg-video video,
.fl-row-bg-embed .fl-bg-embed-code video {
	bottom: 0;
	left: 0px;
	max-width: none;
	position: absolute;
	right: 0;
	top: 0px;
}
.fl-row-bg-video .fl-bg-video iframe,
.fl-row-bg-embed .fl-bg-embed-code iframe {
	pointer-events: none;
	width: 100vw;
  	height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  	max-width: none;
  	min-height: 100vh;
  	min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}
.fl-bg-video-fallback {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

/* Slideshow Bg */
.fl-row-bg-slideshow,
.fl-row-bg-slideshow .fl-row-content {
	position: relative;
}
.fl-row .fl-bg-slideshow {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.fl-builder-edit .fl-row .fl-bg-slideshow * {
	bottom: 0;
	height: auto !important;
	left: 0;
	position: absolute !important;
	right: 0;
	top: 0;
}

/* Row Bg Overlay */
.fl-row-bg-overlay .fl-row-content-wrap:after {
	border-radius: inherit;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.fl-row-bg-overlay .fl-row-content {
	position: relative;
	z-index: 1;
}

/* Full Height Rows */
.fl-row-custom-height .fl-row-content-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
}
.fl-row-overlap-top .fl-row-content-wrap {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 100%;
}
.fl-row-custom-height .fl-row-content-wrap {
	min-height: 0;
}

.fl-row-full-height .fl-row-content,
.fl-row-custom-height .fl-row-content {
  -webkit-box-flex: 1 1 auto;
  	 -moz-box-flex: 1 1 auto;
  	  -webkit-flex: 1 1 auto;
  		  -ms-flex: 1 1 auto;
  			  flex: 1 1 auto;
}
.fl-row-full-height .fl-row-full-width.fl-row-content,
.fl-row-custom-height .fl-row-full-width.fl-row-content {
	max-width: 100%;
	width: 100%;
}

/* IE 11 - Row full height - vertical alignment center/bottom fix */
.fl-builder-ie-11 .fl-row.fl-row-full-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile),
.fl-builder-ie-11 .fl-row.fl-row-custom-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile) {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* Stupid IE Full Height Row Fixes */
.fl-builder-ie-11 .fl-row-full-height .fl-row-content-wrap,
.fl-builder-ie-11 .fl-row-custom-height .fl-row-content-wrap {
	height: auto;
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height .fl-row-content {
	flex: 0 0 auto;
	flex-basis: 100%;
	margin: 0;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content,
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-top .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content {
    margin: 0 auto;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height),
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Full height align center */
.fl-row-full-height.fl-row-align-center .fl-row-content-wrap,
.fl-row-custom-height.fl-row-align-center .fl-row-content-wrap {
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Full height align bottom */
.fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap,
.fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
	align-items: flex-end;
	justify-content: flex-end;
	-webkit-align-items: flex-end;
	-webkit-justify-content: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: end;
	-ms-flex-align: end;
	-ms-flex-pack: end;
}

/* IE 11 - height bottom > row align bottom - center fix */
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}

/* Column Groups
------------------------------------------------------ */

.fl-col-group-equal-height,
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.fl-col-group-equal-height{
    -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
    		flex-wrap: wrap;
			    width: 100%;
}
.fl-col-group-equal-height.fl-col-group-has-child-loading {
    -webkit-flex-wrap: nowrap;
    	-ms-flex-wrap: nowrap;
    		flex-wrap: nowrap;
}
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content{
  -webkit-box-flex: 1 1 auto;
  	 -moz-box-flex: 1 1 auto;
  	  -webkit-flex: 1 1 auto;
  		  -ms-flex: 1 1 auto;
  			  flex: 1 1 auto;
}
.fl-col-group-equal-height .fl-col-content{
	    -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
			   flex-shrink: 1;
			     min-width: 1px;
            	 max-width: 100%;
            	 	 width: 100%;
}
.fl-col-group-equal-height:before,
.fl-col-group-equal-height .fl-col:before,
.fl-col-group-equal-height .fl-col-content:before,
.fl-col-group-equal-height:after,
.fl-col-group-equal-height .fl-col:after,
.fl-col-group-equal-height .fl-col-content:after{
	content: none;
}

/* Equal height align top */
.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-top .fl-col-content,
.fl-col-group-equal-height.fl-col-group-align-top .fl-col-content {
	justify-content: flex-start;
	-webkit-justify-content: flex-start;	
}

/* Equal height align center */
.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Equal height align bottom */
.fl-col-group-nested.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content,
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
	width: 100%;
}

/* IE11 fix for images with height:auto in equal height columns. */
.fl-builder-ie-11 .fl-col-group-equal-height,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-col,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-col-content,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
	min-height: 1px;
}

/* Columns
------------------------------------------------------ */

.fl-col {
	float: left;
	min-height: 1px;
}

/* Column Bg Overlay */
.fl-col-bg-overlay .fl-col-content {
	position: relative;
}
.fl-col-bg-overlay .fl-col-content:after {
	border-radius: inherit;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.fl-col-bg-overlay .fl-module {
	position: relative;
	z-index: 2;
}

/* Modules
------------------------------------------------------ */

.fl-module img {
	max-width: 100%;
}

/* Module Templates
------------------------------------------------------ */

.fl-builder-module-template {
	margin: 0 auto;
	max-width: 1100px;
	padding: 20px;
}

/* Buttons
------------------------------------------------------ */

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	padding: 12px 24px;
	text-decoration: none;
	text-shadow: none;
}
.fl-builder-content .fl-button:hover {
	text-decoration: none;
}
.fl-builder-content .fl-button:active {
	position: relative;
	top: 1px;
}
.fl-builder-content .fl-button-width-full .fl-button {
	display: block;
	text-align: center;
}
.fl-builder-content .fl-button-width-custom .fl-button {
	display: inline-block;
	text-align: center;
	max-width: 100%;
}
.fl-builder-content .fl-button-left {
	text-align: left;
}
.fl-builder-content .fl-button-center {
	text-align: center;
}
.fl-builder-content .fl-button-right {
	text-align: right;
}
.fl-builder-content .fl-button i {
	font-size: 1.3em;
	height: auto;
	margin-right:8px;
	vertical-align: middle;
	width: auto;
}
.fl-builder-content .fl-button i.fl-button-icon-after {
	margin-left: 8px;
	margin-right: 0;
}
.fl-builder-content .fl-button-has-icon .fl-button-text {
	vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.fl-icon-wrap {
	display: inline-block;
}
.fl-icon {
	display: table-cell;
	vertical-align: middle;
}
.fl-icon a {
	text-decoration: none;
}
.fl-icon i {
	float: right;
	height: auto;
	width: auto;
}
.fl-icon i:before {
	border: none !important;
	height: auto;
	width: auto;
}
.fl-icon-text {
	display: table-cell;
	text-align: left;
	padding-left: 15px;
	vertical-align: middle;
}
.fl-icon-text-empty {
	display: none;
}
.fl-icon-text *:last-child {
	margin: 0 !important;
	padding: 0 !important;
}
.fl-icon-text a {
	text-decoration: none;
}
.fl-icon-text span {
	display: block;
}
.fl-icon-text span.mce-edit-focus {
	min-width: 1px;
}

/* Photos
------------------------------------------------------ */

.fl-photo {
	line-height: 0;
	position: relative;
}
.fl-photo-align-left {
	text-align: left;
}
.fl-photo-align-center {
	text-align: center;
}
.fl-photo-align-right {
	text-align: right;
}
.fl-photo-content {
	display: inline-block;
	line-height: 0;
	position: relative;
	max-width: 100%;
}
.fl-photo-img-svg {
	width: 100%;
}
.fl-photo-content img {
	display: inline;
	height: auto;
	max-width: 100%;
}
.fl-photo-crop-circle img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.fl-photo-caption {
	font-size: 13px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.fl-photo-caption-below {
	padding-bottom: 20px;
	padding-top: 10px;
}
.fl-photo-caption-hover {
	background: rgba(0,0,0,0.7);
	bottom: 0;
	color: #fff;
	left: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	padding: 10px 15px;
	position: absolute;
	right: 0;
	-webkit-transition:opacity 0.3s ease-in;
	-moz-transition:opacity 0.3s ease-in;
	transition:opacity 0.3s ease-in;
}
.fl-photo-content:hover .fl-photo-caption-hover {
	opacity: 100;
	filter: alpha(opacity = 100);
}

/* Pagination
------------------------------------------------------ */

.fl-builder-pagination,
.fl-builder-pagination-load-more {
	padding: 40px 0;
}
.fl-builder-pagination ul.page-numbers {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.fl-builder-pagination li {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.fl-builder-pagination li a.page-numbers,
.fl-builder-pagination li span.page-numbers {
	border: 1px solid #e6e6e6;
	display: inline-block;
	padding: 5px 10px;
	margin: 0 0 5px;
}
.fl-builder-pagination li a.page-numbers:hover,
.fl-builder-pagination li span.current {
	background: #f5f5f5;
	text-decoration: none;
}

/* Slideshows
------------------------------------------------------ */

.fl-slideshow,
.fl-slideshow * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

}
.fl-slideshow .fl-slideshow-image img {
	max-width: none !important;
}
.fl-slideshow-social {
	line-height: 0 !important;
}
.fl-slideshow-social * {
	margin: 0 !important;
}

/* Sliders
------------------------------------------------------ */

.fl-builder-content .bx-wrapper .bx-viewport {
	background: transparent;
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	left: 0;
}

/* Lightbox
------------------------------------------------------ */

.mfp-wrap button.mfp-arrow,
.mfp-wrap button.mfp-arrow:active,
.mfp-wrap button.mfp-arrow:hover,
.mfp-wrap button.mfp-arrow:focus {
	background: transparent !important;
	border: none !important;
	outline: none;
	position: absolute;
	top: 50%;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.mfp-wrap .mfp-close,
.mfp-wrap .mfp-close:active,
.mfp-wrap .mfp-close:hover,
.mfp-wrap .mfp-close:focus {
	background: transparent !important;
	border: none !important;
	outline: none;
	position: absolute;
	top: 0;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.admin-bar .mfp-wrap .mfp-close,
.admin-bar .mfp-wrap .mfp-close:active,
.admin-bar .mfp-wrap .mfp-close:hover,
.admin-bar .mfp-wrap .mfp-close:focus {
	top: 32px!important;
}
img.mfp-img {
	padding: 0;
}
.mfp-counter {
	display: none;
}

.mfp-wrap .mfp-preloader.fa {
	font-size: 30px;
}

/* Form Fields
------------------------------------------------------ */

.fl-form-field {
	margin-bottom: 15px;
}
.fl-form-field input.fl-form-error {
	border-color: #DD6420;
}
.fl-form-error-message {
	clear: both;
	color: #DD6420;
	display: none;
	padding-top: 8px;
	font-size: 12px;
	font-weight: lighter;
}
.fl-form-button-disabled {
	opacity: 0.5;
}

/* Animations
------------------------------------------------------ */

.fl-animation {
	opacity: 0;
}
.fl-builder-preview .fl-animation,
.fl-builder-edit .fl-animation,
.fl-animated {
	opacity: 1;
}
.fl-animated {
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

/* Button Icon Animation */
.fl-button.fl-button-icon-animation i {
	width: 0 !important;
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}
.fl-button.fl-button-icon-animation:hover i {
	opacity: 1! important;
    -ms-filter: "alpha(opacity=100)";
}
.fl-button.fl-button-icon-animation i.fl-button-icon-after {
	margin-left: 0px !important;
}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after {
	margin-left: 10px !important;
}
.fl-button.fl-button-icon-animation i.fl-button-icon-before {
	margin-right: 0 !important;
}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before {
	margin-right: 20px !important;
    margin-left: -10px;
}

/* Templates
------------------------------------------------------ */

.single:not(.woocommerce).single-fl-builder-template .fl-content {
	width: 100%;
}

/* Shapes & Patterns
------------------------------------------------------- */
.fl-builder-layer {
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	z-index: 0;
	pointer-events: none;
	overflow: hidden;
}
.fl-builder-shape-layer {
	z-index: 0;
}
.fl-builder-shape-layer.fl-builder-bottom-edge-layer {
	z-index: 1;
}
.fl-row-bg-overlay .fl-builder-shape-layer {
	z-index: 1;
}
.fl-row-bg-overlay .fl-builder-shape-layer.fl-builder-bottom-edge-layer {
	z-index: 2;
}
.fl-row-has-layers .fl-row-content {
	z-index: 1;
}
.fl-row-bg-overlay .fl-row-content {
	z-index: 2;
}

.fl-builder-layer > * {
	display: block;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
}
.fl-builder-layer + .fl-row-content {
	position: relative;
}
.fl-builder-layer .fl-shape {
	fill: #aaa;
	stroke: none;
	stroke-width: 0;
	width:100%;
}
/**
Fix ipad parallax issue on safari
https://core.trac.wordpress.org/ticket/48802
https://core.trac.wordpress.org/ticket/49285
https://github.com/WordPress/gutenberg/issues/17718
*/
@supports (-webkit-touch-callout: inherit) {
  .fl-row.fl-row-bg-parallax .fl-row-content-wrap,
  .fl-row.fl-row-bg-fixed .fl-row-content-wrap {
    background-position: center !important;
    background-attachment: scroll !important;
  }
}

@supports (-webkit-touch-callout: none) {
	.fl-row.fl-row-bg-fixed .fl-row-content-wrap {
		background-position: center !important;
		background-attachment: scroll !important;
	}
}
.fl-row-fixed-width { max-width: 1100px; }.fl-row-content-wrap{margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}.fl-row-content-wrap{padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}.fl-col-content{margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}.fl-col-content{padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}.fl-module-content{margin-top: 20px;margin-right: 20px;margin-bottom: 20px;margin-left: 20px;}@media (max-width: 1200px) { /* Responsive Utilities
------------------------------------------------------ */
body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-xl,
body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-xl {
	display: none !important;
}
.fl-visible-xl,
.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-xl.fl-col,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: none;
}
.fl-visible-desktop,
.fl-visible-desktop-medium,
.fl-visible-large,
.fl-visible-large-medium,
.fl-col-group .fl-visible-desktop.fl-col,
.fl-col-group .fl-visible-desktop-medium.fl-col,
.fl-col-group .fl-visible-large.fl-col,
.fl-col-group .fl-visible-large-medium.fl-col {
	display: block;
}
.fl-col-group-equal-height .fl-visible-desktop.fl-col,
.fl-col-group-equal-height .fl-visible-desktop-medium.fl-col,
.fl-col-group-equal-height .fl-visible-large.fl-col,
.fl-col-group-equal-height .fl-visible-large-medium.fl-col {
	display: flex;
}
 }@media (max-width: 1024px) { /* Responsive Utilities
------------------------------------------------------ */
body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-xl,
body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-xl,
body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-desktop,
body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-desktop,
body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-large,
body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-large {
	display: none !important;
}
.fl-visible-xl,
.fl-visible-desktop,
.fl-visible-large,
.fl-visible-mobile,
.fl-col-group .fl-visible-xl.fl-col,
.fl-col-group .fl-visible-desktop.fl-col,
.fl-col-group .fl-visible-large.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: none;
}
.fl-visible-desktop-medium,
.fl-visible-large-medium,
.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-col-group .fl-visible-desktop-medium.fl-col,
.fl-col-group .fl-visible-large-medium.fl-col,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col {
	display: block;
}
.fl-col-group-equal-height .fl-visible-desktop-medium.fl-col,
.fl-col-group-equal-height .fl-visible-large-medium.fl-col,
.fl-col-group-equal-height .fl-visible-medium.fl-col,
.fl-col-group-equal-height .fl-visible-medium-mobile.fl-col {
	display: flex;
}
 }@media (max-width: 768px) { /* Responsive Utilities
------------------------------------------------------ */
body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-xl,
body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-xl,
body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-desktop,
body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-desktop,
body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-desktop-medium,
body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-desktop-medium,
body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-large,
body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-large,
body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-large-medium,
body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-large-medium {
	display: none !important;
}

.fl-visible-xl,
.fl-visible-desktop,
.fl-visible-desktop-medium,
.fl-visible-large,
.fl-visible-large-medium,
.fl-visible-medium,
.fl-col-group .fl-visible-xl.fl-col,
.fl-col-group .fl-visible-desktop.fl-col,
.fl-col-group .fl-visible-desktop-medium.fl-col,
.fl-col-group .fl-visible-large-medium.fl-col,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group-equal-height .fl-visible-xl.fl-col,
.fl-col-group-equal-height .fl-visible-desktop.fl-col,
.fl-col-group-equal-height .fl-visible-desktop-medium.fl-col,
.fl-col-group-equal-height .fl-visible-large-medium.fl-col,
.fl-col-group-equal-height .fl-visible-medium.fl-col {
	display: none;
}

.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: block;
}

/* Rows
------------------------------------------------------ */

.fl-row-content-wrap {
	background-attachment: scroll !important;
}
.fl-row-bg-parallax .fl-row-content-wrap {
	background-attachment: scroll !important;
	background-position: center center !important;
}

/* Column Groups
------------------------------------------------------ */

/* Equal Heights */
.fl-col-group.fl-col-group-equal-height {
	display: block;
}
.fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Reversed Responsive Stacking */
.fl-col-group.fl-col-group-responsive-reversed {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap-reverse;
	-webkit-flex-wrap: wrap-reverse;
	-ms-box-orient: horizontal;
}
.fl-col-group.fl-col-group-responsive-reversed .fl-col {
	-webkit-box-flex: 0 0 100%;
	-moz-box-flex: 0 0 100%;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	min-width: 0;
}

/* Columns
------------------------------------------------------ */

.fl-col {
	clear: both;
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: auto !important;
}
.fl-col-small:not(.fl-col-small-full-width) {
	max-width: 400px;
}
.fl-block-col-resize {
	display:none;
}
/* Rows
------------------------------------------------------ */

.fl-row[data-node] .fl-row-content-wrap {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
.fl-row[data-node] .fl-bg-video,
.fl-row[data-node] .fl-bg-slideshow {
	left: 0;
	right: 0;
}

/* Columns
------------------------------------------------------ */

.fl-col[data-node] .fl-col-content {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
 }





.fl-node-618b5210901f6 .fl-row-content {
	max-width: 1260px;
}
 .fl-node-618b5210901f6 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}




.fl-node-618b52109515c {
	width: 25%;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-618b52109515c {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-618b52109515f {
	width: 45%;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-618b52109515f {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-618b5351057d3 {
	width: 22%;
}
.fl-node-618b5351057d3 > .fl-col-content {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #CECCCC;
	border-left-width: 1px;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-618b5351057d3 {
		width: 100% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-618b521095161 {
	width: 8%;
}
.uabb-photo-content.uabb-img-grayscale img {
	-webkit-filter: grayscale(100%);
	-webkit-filter: grayscale(1);
	filter: grayscale(100%);
	filter: gray;
}

.uabb-photo-content .uabb-photo-caption {
	pointer-events: none;
}

.uabb-photo-img {
	max-height: inherit;
}.fl-node-618b523eb4d80 {
	width: 100%;
}

.fl-node-618b523eb4d80 .uabb-photo-content {

	}

.fl-node-618b523eb4d80 .uabb-photo-content img {

			}
.fl-node-618b523eb4d80 .uabb-photo-caption { 
	}

.fl-node-618b523eb4d80 .uabb-photo-content .uabb-photo-img {
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

	.fl-node-618b523eb4d80 .uabb-photo-content .uabb-photo-img {
		opacity: 1;
	}
	.fl-node-618b523eb4d80 .uabb-photo-content .uabb-photo-img:hover {
		opacity: 1; 
	}


@media ( max-width: 768px ) {
	.fl-node-618b523eb4d80 .uabb-photo-mob-align-center {
		text-align: center;
	}
}
@media ( max-width: 768px ) {
 .fl-node-618b523eb4d80.fl-module > .fl-module-content {
	margin-bottom:0px;
}
}
/* UABB Advanced Menu */

.uabb-creative-menu ul,
.uabb-creative-menu li {
	list-style: none !important;
	margin: 0;
	padding: 0;
}
.uabb-creative-menu .menu:before,
.uabb-creative-menu .menu:after {
	content: '';
	display: table;
	clear: both;
}

/*  Horizontal Menu */

.uabb-creative-menu .menu {
	position: relative;
	padding-left: 0;
}
.uabb-creative-menu li {
	position: relative;
}
.uabb-creative-menu a {
	display: block;
	line-height: 1;
	text-decoration: none;
}
.uabb-creative-menu .menu a {
    box-shadow: none;
}
.uabb-creative-menu a:hover {
	text-decoration: none;
}
.uabb-creative-menu .sub-menu {
	min-width: 220px;
    margin: 0;
}
.uabb-creative-menu-horizontal {
    font-size: 0;
}
.uabb-creative-menu-horizontal li,
.uabb-creative-menu-horizontal > li {
    font-size: medium;
}
.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container > a > span.menu-item-text {
    display: inline-block;
}

/* Expanded Menu */

.fl-module[data-node] .uabb-creative-menu .uabb-creative-menu-expanded .sub-menu {
	background-color: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

/* Submenus */

.uabb-creative-menu .uabb-has-submenu:focus,
.uabb-creative-menu .uabb-has-submenu .sub-menu:focus,
.uabb-creative-menu .uabb-has-submenu-container:focus {
	outline: 0;
}
.uabb-creative-menu .uabb-has-submenu-container {
	position: relative;
}

/* Submenu - accordion, expanded */

.uabb-creative-menu .uabb-creative-menu-accordion .uabb-has-submenu > .sub-menu {
	display: none;
}

/* Toggle - General */

.uabb-creative-menu .uabb-menu-toggle {
	cursor: pointer;
}

.uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
	border-color: #333;
}
.uabb-creative-menu .uabb-menu-expanded .uabb-menu-toggle {
	display: none;
}

/* Mega menu for horizontal menus */
ul.uabb-creative-menu-horizontal li.mega-menu {
	position: static;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu {
	top: inherit !important;
	left: 0 !important;
	right: 0 !important;
	width: 100%;
}
ul.uabb-creative-menu-horizontal li.mega-menu.uabb-has-submenu:hover > ul.sub-menu,
ul.uabb-creative-menu-horizontal li.mega-menu.uabb-has-submenu.focus > ul.sub-menu {
	display: flex !important;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu li {
	border-color: transparent;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu > li {
	width: 100%;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu > li > .uabb-has-submenu-container a {
	font-weight: bold;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu > li > .uabb-has-submenu-container a:hover {
	background: transparent;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu .uabb-menu-toggle {
	display: none;
}
ul.uabb-creative-menu-horizontal li.mega-menu > ul.sub-menu ul.sub-menu {
	background: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	display: block;
	min-width: 0;
	opacity: 1;
	padding: 0;
	position: static;
	visibility: visible;
}

/* Mobile menu - Hamburger icon */

.uabb-creative-menu-mobile-toggle {
	position: relative;
	padding: 8px;
	background-color: transparent;
	border: none;
	color: #333;
	border-radius: 0;
	cursor: pointer;
    display: inline-block;
    z-index: 5;
}
.uabb-creative-menu-mobile-toggle.text {
	width: auto;
	text-align: center;
}
.uabb-creative-menu-mobile-toggle.hamburger .uabb-creative-menu-mobile-toggle-label,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-creative-menu-mobile-toggle-label {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .uabb-svg-container,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-svg-container {
	display: inline-block;
	position: relative;
	width: 1.4em;
	height: 1.4em;
	vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu rect,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
	fill: currentColor;
}
.uabb-creative-menu.off-canvas .uabb-off-canvas-menu .uabb-menu-close-btn {
	width: 20px;
	height: 10px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	display: block;
    z-index: 99;
}
.uabb-creative-menu-mobile-toggle:focus{
	outline: thin dotted;
}

/* Overlay */

.uabb-creative-menu .uabb-menu-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
    overflow-y: auto;
    overflow-x: hidden;
}

.uabb-creative-menu .uabb-menu-overlay > ul.menu {
	text-align: center;
    position: relative;
    top: 50%;
	width: 40%;
    height: 60%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-fade {
	opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-fade {
	opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.uabb-creative-menu .uabb-overlay-slide-down {
	visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.uabb-creative-menu.menu-open .uabb-overlay-slide-down {
	visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.uabb-creative-menu .uabb-overlay-scale {
	visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.uabb-creative-menu.menu-open .uabb-overlay-scale {
	visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.uabb-creative-menu .uabb-overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door {
	visibility: visible;
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.uabb-creative-menu .uabb-overlay-door > ul.menu {
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-door > ul,
.uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door > ul,
.uabb-creative-menu.menu-open .uabb-overlay-door .uabb-menu-close-btn {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.uabb-creative-menu.menu-close .uabb-overlay-door > ul,
.uabb-creative-menu.menu-close .uabb-overlay-door .uabb-menu-close-btn {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-toggle-arrows .uabb-has-submenu-container a > span {
	padding-right: 0 !important;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
	position: absolute;
    display: block;
	width: 55px;
    height: 45px;
	right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    outline: none;
    z-index: 100;
	font-size: 30px;
	cursor: pointer;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:before,
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
	content: '';
	position: absolute;
	left: 50%;
    width: 2px;
    height: 40px;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
	-webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

/* Off Canvas */

.uabb-creative-menu .uabb-off-canvas-menu .menu {
	margin-top: 40px;
}

.uabb-creative-menu.off-canvas .uabb-clear {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background: rgba(0,0,0,0.0);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d(320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu {
    z-index: 99999;
    width: 300px;
    height: 100%;
    background: rgb(55, 58, 71);
    padding: 60px 20px;
    -webkit-transition: all 0.8s;
    transition: transform 0.8s ease;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    perspective: 1000;
    backface-visibility: hidden;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}
.uabb-creative-menu.off-canvas.menu-open .uabb-clear {
	visibility: visible;
	opacity: 1;
}

@media ( max-width: 992px ) {
	.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
		right: 20px;
	    top: 20px;
	}
}

/* Compatibility CSS - start */
.theme-twentytwentyone .uabb-creative-menu button.sub-menu-toggle {
	display: none;
}
/* Compatibility CSS - end */

/* Menu alignment */

.fl-node-618b529834603 .uabb-creative-menu .menu {
	text-align: right;
}

	.uabb-creative-menu-expanded ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a {
		text-indent: 20px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a {
		text-indent: 30px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li .uabb-has-submenu-container a {
		text-indent: 40px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li li .uabb-has-submenu-container a {
		text-indent: 50px;
		direction: rtl;
	}




		.fl-node-618b529834603 .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > a span.uabb-menu-toggle,
		.fl-node-618b529834603 .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container a span.uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
		.fl-node-618b529834603 .uabb-creative-menu .menu.uabb-creative-menu-horizontal .uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
	
	
	

/**
* Overall menu styling
*/

.fl-node-618b529834603 .uabb-creative-menu .menu > li {

	margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;}

.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.text:hover .uabb-creative-menu-mobile-toggle-label,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger-label:hover .uabb-svg-container .uabb-creative-menu-mobile-toggle-label,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger:hover .uabb-svg-container {
	}
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.text,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger-label,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger {
	}
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.text:hover,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger-label:hover,
.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle.hamburger:hover {
	}


			.fl-node-618b529834603 .menu .uabb-has-submenu .sub-menu {
			display: none;
		}
	
	.fl-node-618b529834603 .uabb-creative-menu li:first-child {
		border-top: none;
	}

	
	
	
	
			@media only screen and ( min-width: 769px ) {

							.fl-node-618b529834603 .menu > li {
				display: inline-block;
			}

			.fl-node-618b529834603 .menu li {
				border-left: none;
				border-top: none;
			}
			.fl-node-618b529834603 .menu li li {
				border-top: none;
				border-left: none;
			}

			.fl-node-618b529834603 .menu .uabb-has-submenu .sub-menu {
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 16;
				visibility: hidden;
				opacity: 0;
				text-align:left;
				transition: all 300ms ease-in;
			}

			.fl-node-618b529834603 .uabb-has-submenu .uabb-has-submenu .sub-menu {
				top:  0;
				left: 100%;
			}

					
				
			.fl-node-618b529834603 .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,
			.fl-node-618b529834603 .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {
				visibility: visible;
				opacity: 1;
				display: block;
			}

			.fl-node-618b529834603 .uabb-creative-menu .uabb-has-submenu:focus-within > .sub-menu {
				visibility: visible;
				opacity: 1;
				display: block;
			}

			.fl-node-618b529834603 .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 100%;
				left: inherit;
				right: 0;
			}

			.fl-node-618b529834603 .menu .uabb-has-submenu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 0;
				left: inherit;
				right: 100%;
			}

							.fl-node-618b529834603 .uabb-creative-menu .uabb-has-submenu-container a span.menu-item-text {
					color: #8e9d3a;
				}
				.fl-node-618b529834603 .uabb-creative-menu .uabb-menu-toggle {
					display: none;
				}
			
			
			
				}

		.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > a,
.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
	padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;}

.fl-node-618b529834603 .uabb-creative-menu .menu > li > a,
.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
			transition: background-color 300ms ease;
		background-color:rgba(255,0,0,0);
	}

.fl-node-618b529834603 .uabb-creative-menu .menu > li > a,
.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {

	}

.fl-node-618b529834603 .fl-module-content .uabb-creative-menu .menu > li > a span.menu-item-text,
.fl-node-618b529834603 .fl-module-content .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a span.menu-item-text {
	width: 100%;
			color:#8e9d3a;
	}


				.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
			color: #8e9d3a;
		}
		

				.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows li:hover .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-item .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-ancestor .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none li:hover .uabb-menu-toggle:before {
			color: #323232;
		}
			
	.fl-node-618b529834603 .uabb-creative-menu .menu > li > a:hover,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li > a:focus,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li:hover > .uabb-has-submenu-container > a,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li:focus > .uabb-has-submenu-container > a,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-item > a,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-item > a,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-item > .uabb-has-submenu-container > a {
					background-color: rgba(255,0,0,0);
				}

	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > a,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a {
					background-color: #f5f5f5;
			}

	.fl-node-618b529834603 .uabb-creative-menu .menu > li > a:hover span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li > a:focus span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li:hover > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li:focus > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-item > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.focus > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.focus > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text > i {
		color:#323232;	}

	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > a span.menu-item-text > i,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text > i,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a span.menu-item-text > i,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text > i {
			}

			.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container:hover > .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container.focus > .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows li.current-menu-item >.uabb-has-submenu-container > .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container:hover > .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container.focus > .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none li.current-menu-item >.uabb-has-submenu-container > .uabb-menu-toggle:before {
			color: #323232;
		}
		

/* Sub-menu */
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > a,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {
	padding-top: 15px;padding-bottom: 15px;padding-left: 15px;padding-right: 15px;
	background-color: #edecec;
}

.fl-node-618b529834603 .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {
	min-width: 220px;
}

.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.uabb-creative-menu > a > span,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a > span {
	color: #333333;
}

.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li {
			border-bottom-style: solid;
				border-bottom-width: 1px;
						border-bottom-color: #e3e2e3;
			}

.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li:last-child {
	border-bottom: none;
}
.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li:first-child,
.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li li:first-child {
	border-top: none;
}
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li.uabb-active > .sub-menu > li:first-child,
.fl-node-618b529834603 .uabb-creative-menu .menu.uabb-creative-menu-expanded .sub-menu > li > .sub-menu > li:first-child {
			border-top-style: solid;
				border-top-width: 1px;
						border-top-color: #e3e2e3;
			}




.fl-node-618b529834603 .uabb-creative-menu .sub-menu {
			-webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		-moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		-o-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
		box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
	}


.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li:last-child > a,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li:last-child > .uabb-has-submenu-container > a {
	border: 0;
}

.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:hover span.menu-item-text,
.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:focus span.menu-item-text,
.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:hover span.menu-item-text,
.fl-node-618b529834603 .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:focus span.menu-item-text {
	color: #;
}

.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > a:hover,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > a:focus,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:hover,
.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:focus {
	background-color: #f5f5f5;
}


				.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-arrows .sub-menu li .uabb-menu-toggle:before,
		.fl-node-618b529834603 .uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {
			color: #333333;
		}
		

/* Toggle button */


		@media only screen and ( max-width: 768px ) {
	
	.fl-node-618b529834603 .uabb-creative-menu .uabb-menu-overlay .menu {
		margin-top: 40px;
	}
	.fl-node-618b529834603 .uabb-creative-menu .menu {
		text-align: center;
	}

	
	
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.fl-node-618b529834603 .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	
				}
	
@media only screen and (max-width: 1024px) {

	.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle-container,
	.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: ;
	}
	.fl-node-618b529834603 .uabb-creative-menu .menu > li {
				}

	.fl-node-618b529834603 .uabb-creative-menu.off-canvas .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.fl-node-618b529834603 .uabb-creative-menu.full-screen .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.fl-builder .fl-node-618b529834603 .uabb-creative-menu .uabb-off-canvas-menu {
			}
	
	
	
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.fl-node-618b529834603 .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	
	}

@media only screen and (max-width: 768px) {

	.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle-container,
	.fl-node-618b529834603 .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: ;
	}
	.fl-node-618b529834603 .uabb-creative-menu .menu > li {
			}

	.fl-node-618b529834603 .uabb-creative-menu.off-canvas .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.fl-node-618b529834603 .uabb-creative-menu.full-screen .menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > a,
	.fl-node-618b529834603 .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.fl-builder .fl-node-618b529834603 .uabb-creative-menu .uabb-off-canvas-menu {
			}
		.fl-node-618b529834603 .uabb-creative-menu .menu {
		text-align: center;
	}

	
	
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				float: right;
			}
			.fl-node-618b529834603 .uabb-creative-menu .menu .uabb-menu-toggle {
				float: right;
			}

	
	}

@media only screen and (max-width: 1024px) {
	}

@media only screen and (max-width: 768px) {
	}

/***************************** Overlay *********************************/


/***************************** Accordion **********************************/
	@media only screen and ( max-width: 768px ) {
			}
	
/***************************** Off Canvas **********************************/
.fl-node-618b529834603 .uabb-creative-menu .menu > li > a,.fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	font-family: Poppins, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3em;
	text-transform: uppercase;
}
.fl-node-618b529834603 .uabb-creative-menu .menu > li > a, .fl-node-618b529834603 .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	border-style: none;
	border-width: 0;
	background-clip: border-box;
}
.fl-node-618b529834603 .uabb-creative-menu .uabb-creative-menu-vertical .sub-menu, .fl-node-618b529834603 .uabb-creative-menu .uabb-creative-menu-horizontal .sub-menu {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.fl-node-618b529834603 .uabb-creative-menu .uabb-creative-menu-expanded.menu > .uabb-has-submenu > .sub-menu, .fl-node-618b529834603 .uabb-creative-menu .uabb-creative-menu-accordion.menu > .uabb-has-submenu > .sub-menu {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
 .fl-node-618b529834603 > .fl-module-content {
	margin-top:0px;
	margin-bottom:0px;
}
.fl-builder-content .fl-rich-text strong {
	font-weight: bold;
}
 .fl-node-618b735ebefd3 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
.fl-builder-content .fl-node-618b555f3a73e .fl-rich-text, .fl-builder-content .fl-node-618b555f3a73e .fl-rich-text *:not(b, strong) {
	text-align: right;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-618b555f3a73e .fl-rich-text, .fl-builder-content .fl-node-618b555f3a73e .fl-rich-text *:not(b, strong) {
		text-align: center;
	}
}
@media ( max-width: 768px ) {
 .fl-node-618b555f3a73e.fl-module > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
}

/* Start Global CSS */
.full-width-real{max-width:100% !important;}

.gform_body .gfield  .gfield_captcha_input_container input[type=text]{
    width: 80px!important;
}
/* End Global CSS */


/* Start Global Nodes CSS */

/* End Global Nodes CSS */


/* Start Layout CSS */

/* End Layout CSS */

/* Sticky */
.fl-builder-content[data-type="header"].fl-theme-builder-header-sticky {
	position: fixed;
	width: 100%;
	z-index: 100;
}

/* Sticky - fix flyout menu  */
.fl-theme-builder-flyout-menu-push-left .fl-builder-content[data-type="header"].fl-theme-builder-header-sticky {
	left: auto !important;
	transition: left 0.2s !important;
}
.fl-theme-builder-flyout-menu-push-right .fl-builder-content[data-type="header"].fl-theme-builder-header-sticky {
	right: auto !important;
	transition: right 0.2s !important;
}
.fl-builder-content[data-type="header"].fl-theme-builder-header-sticky .fl-menu .fl-menu-mobile-opacity {
	height: 100vh;
	width: 100vw;
}
.fl-builder-content[data-type="header"]:not([data-overlay="1"]).fl-theme-builder-header-sticky .fl-menu-mobile-flyout {
	top: 0px;
}
.fl-theme-builder-flyout-menu-active body {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.fl-theme-builder-has-flyout-menu, .fl-theme-builder-has-flyout-menu body {
	overflow-x: hidden;
}
.fl-theme-builder-flyout-menu-push-right {
	right: 0px;
	transition: right 0.2s ease-in-out;
}
.fl-theme-builder-flyout-menu-push-left {
	left: 0px;
	transition: left 0.2s ease-in-out;
}
.fl-theme-builder-flyout-menu-active .fl-theme-builder-flyout-menu-push-right {
	position: relative;
	right: 250px;
}
.fl-theme-builder-flyout-menu-active .fl-theme-builder-flyout-menu-push-left {
	position: relative;
	left: 250px;
}
.fl-theme-builder-flyout-menu-active .fl-builder-content[data-type="header"] .fl-menu-disable-transition {
	transition: none;
}

/* Shrink */
.fl-builder-content[data-shrink="1"] .fl-row-content-wrap,
.fl-builder-content[data-shrink="1"] .fl-col-content,
.fl-builder-content[data-shrink="1"] .fl-module-content,
.fl-builder-content[data-shrink="1"] img {
	-webkit-transition: all 0.4s ease-in-out, background-position 1ms;
	-moz-transition: all 0.4s ease-in-out, background-position 1ms;
	transition: all 0.4s ease-in-out, background-position 1ms;
}
.fl-builder-content[data-shrink="1"] img {
	width: auto;
}
.fl-builder-content[data-shrink="1"] img.fl-photo-img {
	width: auto;
	height: auto;
}
.fl-builder-content[data-type="header"].fl-theme-builder-header-shrink .fl-row-content-wrap {
	margin-bottom: 0;
	margin-top: 0;
}
.fl-theme-builder-header-shrink-row-bottom.fl-row-content-wrap {
	padding-bottom: 5px;
}
.fl-theme-builder-header-shrink-row-top.fl-row-content-wrap {
	padding-top: 5px;
}
.fl-builder-content[data-type="header"].fl-theme-builder-header-shrink .fl-col-content {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
}
.fl-theme-builder-header-shrink-module-bottom.fl-module-content {
	margin-bottom: 5px;
}
.fl-theme-builder-header-shrink-module-top.fl-module-content {
	margin-top: 5px;
}
.fl-builder-content[data-type="header"].fl-theme-builder-header-shrink img {
	-webkit-transition: all 0.4s ease-in-out, background-position 1ms;
	-moz-transition: all 0.4s ease-in-out, background-position 1ms;
	transition: all 0.4s ease-in-out, background-position 1ms;
}

/* Overlay */
.fl-builder-content[data-overlay="1"]:not(.fl-theme-builder-header-sticky):not(.fl-builder-content-editing) {
	position: absolute;
	width: 100%;
	z-index: 100;
}
.fl-builder-edit body:not(.single-fl-theme-layout) .fl-builder-content[data-overlay="1"] {
	display: none;
}
body:not(.single-fl-theme-layout) .fl-builder-content[data-overlay="1"]:not(.fl-theme-builder-header-scrolled):not([data-overlay-bg="default"]) .fl-row-content-wrap,
body:not(.single-fl-theme-layout) .fl-builder-content[data-overlay="1"]:not(.fl-theme-builder-header-scrolled):not([data-overlay-bg="default"]) .fl-col-content {
	background: transparent;
}
/* Equal height Column Bottom Alignment */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
          -webkit-box-align: end;
           -webkit-box-pack: end;
              -ms-flex-pack: end;
}

/* H1-H6 Margin Reset in all Modules */
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

/* Anchor Tag Css */

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

/* Row Separator CSS */

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
}

.uabb-top-row-separator {
    top: 0;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: 0;
}

.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
}

@media (max-width: 992px) {

    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: block !important;
    }
}

.fl-responsive-preview-content .fl-builder-content-editing {
    overflow-x: hidden;
    overflow-y: visible;
}

.uabb-row-separator svg {
    width: 100%;
}

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: -1px;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: -1px;
    top: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

/**
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator
 *  Svg Half Circle Separator
 *  Curve Center Separator
 *  Waves Separator
 *  Stamp
 *  Grass
 *  Slime
 *  Grass Bend
 *  Wave Slide
 *  Muliple Triangles
 *  Pine Tree
 *  Pine Tree Bend
 *
 ***************************************/
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

/*
 *  Big Triangle
*/
.uabb-bottom-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
       -moz-transform: scale(1) scaleY(-1) translateX(-50%);
        -ms-transform: scale(1) scaleY(-1) translateX(-50%);
         -o-transform: scale(1) scaleY(-1) translateX(-50%);
            transform: scale(1) scaleY(-1) translateX(-50%);
}

.uabb-top-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
       -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
         -o-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
}

/**
 *
 *  Big Triangle Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

/**
 *
 *  Curve Left Separator
 *  Curve Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-curve-up-separator svg {
    left: 50%;
     -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}


/**
 *
 *  Tilt Left Separator
 *  Tilt Right Separator
 *
 ***************************************/

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
    bottom: 0;
}

/**
 *
 *  Clouds Separator
 *  Multi Triangle
 *  Arrow Inward
 *  Arrow Outward
 *
 ***************************************/

.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-multi-triangle svg {
    bottom: -2px;
}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}


/* Buttons
------------------------------------------------------ */

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-shadow: none;
}

.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.fl-builder-content .uabb-button-left {
    text-align: left;
}
.fl-builder-content .uabb-button-center {
    text-align: center;
}
.fl-builder-content .uabb-button-right {
    text-align: right;
}

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.uabb-icon-wrap {
    display: inline-block;
}
.uabb-icon a {
    text-decoration: none;
}
.uabb-icon i {
    display: block;
}
.uabb-icon i:before {
    border: none !important;
    background: none !important;
}
.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}
.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}
.uabb-icon-text a {
    text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.uabb-photo {
    line-height: 0;
    position: relative;
    z-index: 2;
}
.uabb-photo-align-left {
    text-align: left;
}
.uabb-photo-align-center {
    text-align: center;
}
.uabb-photo-align-right {
    text-align: right;
}
.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}
.uabb-photo-caption-hover {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity = 0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition:visibility 200ms linear;
    -moz-transition:visibility 200ms linear;
    transition:visibility 200ms linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
}

/* Panel & Buttons
------------------------------------------------------ */
.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

/* Image Icon Object */
.uabb-imgicon-wrap .uabb-icon {
    display: block;
}
.uabb-imgicon-wrap .uabb-icon i{
    float: none;
}

/* Photo */
.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/* Creative Button
___________________________________________________________________________*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;

}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}
.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    padding: 12px 24px;
}

/*  Translate Button styles */

.uabb-creative-button.uabb-creative-transparent-btn {
    background: transparent;
}
.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/* transparent-fill-top, transparent-fill-bottom  */
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

/* transparent-fill-top */
.uabb-transparent-fill-top-btn:after {
    top: 0;
}
/* transparent-fill-bottom */
.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

/* transparent-fill-left, transparent-fill-right */
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

/* transparent-fill-left */
.uabb-transparent-fill-left-btn:after {
    left: 0;
}
/* transparent-fill-right */
.uabb-transparent-fill-right-btn:after {
    right: 0;
}


/* transparent-fill-center */
.uabb-transparent-fill-center-btn:after{
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/*  transparent-fill-diagonal, transparent-fill-horizontal  */
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

/*  transparent-fill-diagonal */
.uabb-transparent-fill-diagonal-btn{
    overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
       -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
        -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
         -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
            transform: translateX(-50%) translateY(-50%) rotate( 45deg );
}
/* transparent-fill-horizontal */
.uabb-transparent-fill-horizontal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}


/*  3D Button styles */
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

.perspective {
    -webkit-perspective: 800px;
       -moz-perspective: 800px;
            perspective: 800px;
            margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*  3D Button styles --- Animate to top */
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
       -moz-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
}

/*  3D Button styles --- Animate to bottom */
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}

/*  3D Button styles --- Animate to Left */
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    -webkit-transform: rotateY(-60deg);
       -moz-transform: rotateY(-60deg);
        -ms-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
}

/*  3D Button styles --- Animate to Right */
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: rotateY(120deg);
       -moz-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
            transform: rotateY(120deg);
}


/* Animate Top */
.uabb-animate_top-btn:hover{
    -webkit-transform: rotateX(-15deg);
       -moz-transform: rotateX(-15deg);
        -ms-transform: rotateX(-15deg);
         -o-transform: rotateX(-15deg);
            transform: rotateX(-15deg);

}

/* Animate Bottom */
.uabb-animate_bottom-btn:hover{
    -webkit-transform: rotateX(15deg);
       -moz-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
         -o-transform: rotateX(15deg);
            transform: rotateX(15deg);

}

/* Animate Left */
.uabb-animate_left-btn:hover{
    -webkit-transform: rotateY(6deg);
       -moz-transform: rotateY(6deg);
        -ms-tr